<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Travel app</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<ul class="nav nav-pills nav-fill">
			<li class="nav-item"><a class="nav-link active" href="/">Journeys</a></li>
			<li class="nav-item"><a class="nav-link" href="/addjourney">Add a journey</a></li>
		</ul>
		<h1>Travel-app</h1>
		<div th:each="journey,iterStat: ${journeys}">
			<div class="card">
				<div class="card-body">
					<h5 th:text="${journey.title}" class="card-title"></h5>
				</div>
				<img height="300" th:src="${files[iterStat.index]}" alt="no image" />
			</div>
		</div>
	</div>
</body>
</html>