<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Matkailu-app</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<style>
.center-div {
	margin: 40px auto;
	width: 40vw;
}
</style>
</head>
<body>
	<div class="center-div">
		<h1>Matkailu-app</h1>
		<div style="color: red;" th:if="${param.error}">Virheellinen käyttäjätunnus tai salasana</div>
		<form th:action="@{/login}" method="post">
			<div class="form-group">
				<label for="username">Käyttäjätunnus</label> <input type="text"
					class="form-control" id="username" name="username" aria-describedby="username">
			</div>
			<div class="form-group">
				<label for="password">Salasana</label> <input type="password"
					class="form-control" id="password" name="password">
			</div>
			<button type="submit" class="btn btn-primary bg-success">Kirjaudu sisään</button>
		</form>
	</div>
</body>
</html>